<div class="row homePage">
  <div class="col-4"></div>
  <div class="col-4">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/blog045-ee770.appspot.com/o/Brand.PNG?alt=media&token=011c10ac-94c3-48d0-a958-8412ba614558"
          alt=""
          height="100px"
        />
      </div>
      <div class="col-4"></div>
    </div>

    <h3 class="welcome-heading">
      Welcome {{ email }}!! We are glad to have you here.
    </h3>
  </div>
  <div class="col-4"></div>
</div>
